@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  background: transparent;
}



@layer base {
  :root {
    --background: 240 7% 97%; /* Light grayish-blue */
    --foreground: 240 7% 20%; /* Dark grayish-blue */

    --card: 240 7% 100%; /* Very light grayish-blue */
    --card-foreground: 240 7% 15%; /* Very dark grayish-blue */

    --popover: 240 7% 100%; /* Very light grayish-blue */
    --popover-foreground: 240 7% 15%; /* Very dark grayish-blue */

    --primary: 202 100% 38%; /* Bright blue */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 346 100% 50%; /* Bright pink */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 240 7% 88%; /* Soft grayish-blue */
    --muted-foreground: 240 7% 26%; /* Darker grayish-blue */

    --accent: 39 100% 50%; /* Bright orange */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 0 100% 50%; /* Bright red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 240 7% 80%; /* Light grayish-blue border */
    --input: 240 7% 90%; /* Very light grayish-blue input fields */
    --ring: 202 100% 38%; /* Bright blue focus ring */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 7% 15%; /* Very dark grayish-blue */
    --foreground: 240 7% 97%; /* Light grayish-blue */

    --card: 240 7% 20%; /* Dark grayish-blue */
    --card-foreground: 240 7% 97%; /* Light grayish-blue */

    --popover: 240 7% 20%; /* Dark grayish-blue */
    --popover-foreground: 240 7% 97%; /* Light grayish-blue */

    --primary: 202 100% 38%; /* Bright blue */
    --primary-foreground: 240 7% 97%; /* Light grayish-blue */

    --secondary: 346 100% 50%; /* Bright pink */
    --secondary-foreground: 240 7% 97%; /* Light grayish-blue */

    --muted: 240 7% 26%; /* Darker grayish-blue */
    --muted-foreground: 240 7% 88%; /* Soft grayish-blue */

    --accent: 39 100% 50%; /* Bright orange */
    --accent-foreground: 240 7% 97%; /* Light grayish-blue */

    --destructive: 0 100% 50%; /* Bright red */
    --destructive-foreground: 240 7% 97%; /* Light grayish-blue */

    --border: 240 7% 26%; /* Darker grayish-blue border */
    --input: 240 7% 20%; /* Dark grayish-blue input fields */
    --ring: 202 100% 38%; /* Bright blue focus ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Assuming you are using the default Tailwind breakpoints */
@media (max-width: 640px) { /* Mobile */
  .custom-image-size {
    width: 450px; /* Adjust as needed for mobile */
  }
}
@media (min-width: 641px) and (max-width: 768px) { /* Tablet */
  .custom-image-size {
    width: 650px; /* Adjust as needed for tablets */
  }
}
@media (min-width: 769px) and (max-width: 1024px) { /* Laptop */
  .custom-image-size {
    width: 810px; /* Adjust as needed for laptops */
  }
}
@media (min-width: 1025px) { /* Large screens */
  .custom-image-size {
    width: 1050px; /* Adjust as needed for large screens */
  }
}